<footer>
    <nav class="footer-legal">
        <a href="{{ path('app_mentions_legales') }}" class="lien">Mentions légales</a> |
        <a href="{{ path('app_accessibilite') }}" class="lien">Accessibilité</a> |
        <a href="{{ path('app_cookies') }}" class="lien">Cookies</a> |
        <a href="{{ path('app_politique_confidentialite') }}" class="lien">Confidentialité</a> |
        <a href="{{ path('app_cgv') }}" class="lien">CGV</a> |
        <a href="{{ path('app_cgu') }}" class="lien">CGU</a>
    </nav>

    <div>© {{ "now"|date("Y") }} - Cassandre System</div>
</footer>